
:root{
  --pry : #4471E3;
  --pry-hover-light : #567DDF;
  --pry-hover-dark : #3B66D2;
  --pry-dark : #0C1825;
  --pry-dark-hover-light : #182838;
  --db-pry : #2A3343;
  --db-pry-dark : #212939;
  --db-pry-light : #3B3F4D;
  --db-white : #ffffff;
  --db-white-light : #F9F9F9;
  --db-white-dark : #eeeeee;
  --db-white-darker : #BCC1CD;
  --sec : #F9B700;
  --yellow : #F9B700;
}


.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
    @apply md:dark:bg-transparent md:bg-transparent md:w-[0.375rem] md:h-[0.375rem];
  }
  ::-webkit-scrollbar-thumb {
    @apply md:dark:bg-[#BBB9B6] md:bg-[#64748b29] md:opacity-100 md:rounded-[50px];
  }
  
  ::-webkit-scrollbar-track {
    @apply md:dark:bg-[#64748b29] md:bg-[#64748b29] md:rounded-[50px] md:mt-4 md:mb-4;
  }

.slide-move
.slide-enter-active,
.slide-leave-active {
	transition: all 0.2s ease;
}
.slide-enter-from,
.slide-leave-to {
	transform: translateY(-10px);
	opacity: 0;
}
.vuecal__event {
  /* background-color: red;
  color: white;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 90%;
  margin: auto; */

  @apply dark:bg-white rounded-md h-full w-full md:mx-auto shadow-md;
}