.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
    @apply md:dark:bg-transparent md:bg-transparent md:w-[0.375rem] md:h-[0.375rem];
  }
  ::-webkit-scrollbar-thumb {
    @apply md:dark:bg-[#BBB9B6] md:bg-[#64748b29] md:opacity-100 md:rounded-[50px];
  }
  
  ::-webkit-scrollbar-track {
    @apply md:dark:bg-[#64748b29] md:bg-[#64748b29] md:rounded-[50px] md:mt-4 md:mb-4;
  }
  